Repository PeytonCleveland/canopy: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["biome check --write --no-errors-on-unmatched"],
  "**/*.{json,jsonc}": ["biome format --write --no-errors-on-unmatched"]
}

refactor: switch from spaces to tabs for indentation
  .claude/settings.local.json
  .editorconfig
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package.json
  packages/config/package.json
  packages/config/tsconfig.base.json
  packages/config/tsconfig.node.json
  packages/config/tsconfig.react.json
  turbo.json
Due: biome format --write --no-errors-on-unmatched

feat: create Next.js apps for web and dashboard
  apps/dashboard/.gitignore
  apps/dashboard/app/globals.css
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/postcss.config.js
  apps/dashboard/tailwind.config.ts
  apps/dashboard/tsconfig.json
  apps/web/.gitignore
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: set up shared UI package with Tailwind and React Aria Components
  .claude/settings.local.json
  apps/dashboard/app/globals.css
  apps/dashboard/app/page.tsx
  apps/dashboard/package.json
  apps/web/app/globals.css
  apps/web/app/page.tsx
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/hooks/use-theme.ts
  packages/ui/src/index.ts
  packages/ui/src/theme.css
  packages/ui/src/utils/cn.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: move app directories into src folders
  apps/dashboard/src/app/globals.css
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: biome check --write --no-errors-on-unmatched

feat: initialize Tauri 2.0 desktop application
  apps/desktop/.gitignore
  apps/desktop/package.json
  apps/desktop/src-tauri/.gitignore
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/icons/128x128.png
  apps/desktop/src-tauri/icons/128x128@2x.png
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/Square107x107Logo.png
  apps/desktop/src-tauri/icons/Square142x142Logo.png
  apps/desktop/src-tauri/icons/Square150x150Logo.png
  apps/desktop/src-tauri/icons/Square284x284Logo.png
  apps/desktop/src-tauri/icons/Square30x30Logo.png
  apps/desktop/src-tauri/icons/Square310x310Logo.png
  apps/desktop/src-tauri/icons/Square44x44Logo.png
  apps/desktop/src-tauri/icons/Square71x71Logo.png
  apps/desktop/src-tauri/icons/Square89x89Logo.png
  apps/desktop/src-tauri/icons/StoreLogo.png
  apps/desktop/src-tauri/icons/icon.icns
  apps/desktop/src-tauri/icons/icon.ico
  apps/desktop/src-tauri/icons/icon.png
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: update desktop scripts to include cargo PATH and fix tauri-plugin-log version
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
Due: biome format --write --no-errors-on-unmatched

feat: set up Drizzle ORM with Neon PostgreSQL
  .env.example
  package.json
  packages/db/README.md
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/index.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/users.ts
  packages/db/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: configure environment variable management for monorepo
  .env.example
  turbo.json
Due: biome format --write --no-errors-on-unmatched

feat: implement t3-env for type-safe environment variables
  apps/dashboard/env.ts
  apps/dashboard/package.json
  apps/web/env.ts
  apps/web/package.json
  packages/db/package.json
  packages/db/src/client.ts
  packages/env/README.md
  packages/env/package.json
  packages/env/src/index.ts
  packages/env/tsconfig.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: upgrade to zod v4.1.12 and @t3-oss/env v0.13.8
  apps/dashboard/package.json
  apps/web/package.json
  packages/env/package.json
  packages/env/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: specify Node.js v24.11.0 LTS and pnpm version requirements
  .nvmrc
  package.json
Due: biome format --write --no-errors-on-unmatched

docs: add comprehensive root README
  README.md
Due: none

feat: implement Better Auth with email OTP authentication
  .env.example
  apps/dashboard/package.json
  packages/auth/package.json
  packages/auth/src/client.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/db/src/schema/auth.ts
  packages/db/src/schema/index.ts
  packages/email/package.json
  packages/email/src/index.ts
  packages/email/src/templates/index.tsx
  packages/email/src/templates/otp-email.tsx
  packages/email/tsconfig.json
  packages/env/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: move environment config to per-app .env files
  .env.example
  apps/dashboard/.env.example
  apps/dashboard/env.ts
  apps/web/.env.example
  apps/web/env.ts
  packages/env/README.md
Due: biome check --write --no-errors-on-unmatched

Create claude.yml
  .github/workflows/claude.yml
Due: none
